.navbar {
    height: 86px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #303030;
}

.logo {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    width: auto;
    align-items: center;
    padding-left: 2rem;

    &__image {
        height: 50px;
        gap: 1rem;
    }

    &__text {
        margin: 0 0 0 16px;
        gap: 1rem;
        color: #FFF;
    }
}

.suggestion {
    &__image {
        height: 40px;
        margin-right: 16px;
    }
}
