<mat-toolbar class="navbar">
    <div class="logo">
        <img src="/assets/images/devtoes.png" alt="devtoEs" class="logo__image">
        <span class="logo__text">Dev.to Comunidad en español</span>
    </div>
    <span class="example-spacer"></span>
    <a href="https://github.com/DannielNavas/devtospanish/discussions/new" target="_blank" rel="noopener noreferrer"
        class="suggestion">
        <img src="/assets/images/suggestion.svg" alt="suggestion" class="suggestion__image">
        Recomendar mejora
    </a>
    <a href="https://github.com/DannielNavas/devtospanish/issues" target="_blank" rel="noopener noreferrer"
        class="suggestion">
        <img src="/assets/images/suggestion.svg" alt="suggestion" class="suggestion__image">
        Reportar un bug
    </a>
</mat-toolbar>
