<mat-toolbar class="navbar">
    <div class="logo">
        <img src="/assets/images/devtoes.png" alt="devtoEs" class="logo__image">
        <span class="logo__text">Dev.to Comunidad en español</span>
    </div>
    <span class="example-spacer"></span>
    <div>
        <a href="https://github.com/DannielNavas/devtospanish/discussions/new" target="_blank" rel="noopener noreferrer"
            class="suggestion">
            <img src="/assets/images/suggestion.svg" alt="suggestion" class="suggestion__image">
        </a>
        <a href="https://github.com/DannielNavas/devtospanish/issues" target="_blank" rel="noopener noreferrer"
            class="suggestion">
            <img src="/assets/images/bug-line.svg" alt="bugs" class="suggestion__image">
        </a>
    </div>
</mat-toolbar>
