/* You can add global styles to this file, and also import other style files */
@import "./app/utils/scss/vars";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: $darkGunmetal;
}

h1,
h2,
h3,
h4 {
    color: $white;
}

.mat-h2,
.mat-title,
.mat-typography .mat-h2,
.mat-typography .mat-title,
.mat-typography h2 {
    font: inherit !important;
}
