$main-color: #E4E6EC;
$title-color: #131313;
$text-color-date: #A5A6AB;
$text-p-color: #888D97;
// $font-family:
$darkCharcoal: #303030;
$white: #ffffff;
$eerieBlack: #15171b;
$darkGunmetal: #21222c;
